<h1>About</h1>
<button>Hello</button>
<div class="card-slant">
      <div class="card-content">
            <div class="card-img-container">
                  <img src="src/assets/img/ximage.jpg" class="img-fluid card-image" alt="">
            </div>
            <h5 class="card-title">About Me</h5>
            <p class="card-text">I'm a self-taught artist who loves to draw and paint. I've been doing this for 5 years now and I'm still learning. I'm also a violinist and a writer. I love to create and share my works with others. I hope you enjoy my portfolio!</p>
            <button class="card-button">Hello</button>
      </div>
</div>