<section class="container-fluid">
      <div class="row">
            <div class="col">
                  <h1>Let's get in touch.</h1>
                  <h3>For Commissions and Inquiries:</h3>
                  <span></span>
                  <a href="mailto:artbymark.business@gmail.com" target="_blank">
                        <button class="btn b-primary">
                              <i class="fi fi-bs-envelope"></i>
                              <span class="b-text align-content-center">Email</span>
                        </button>
                  </a>
            </div>
      </div>
      <div class="row">
            <div class="col">
                  <h1>Be updated on new releases.</h1>
                  <h3>Check out and follow my socials</h3>
                  <div class="row">
                        <div class="col">
                              <span></span>
                              <a href="https://www.instagram.com/artbymark.rar/" target="_blank">
                                    <button class="btn b-primary">
                                          <i class="fi fi-brands-instagram"></i>
                                          <span class="b-text align-content-center">Instagram</span>
                                    </button>
                              </a>
                        </div>
                        <div class="col">
                              <a href="https://facebook.com/artbymark1210" target="_blank">
                                    <button class="btn b-secondary">
                                          <i class="fi fi-brands-facebook"></i>
                                          <span class="b-text align-content-center">
                                                Facebook Page
                                          </span>
                                    </button>
                              </a>
                        </div>
                  </div>

            </div>
      </div>
</section>