<header class="container p-4">
      <div class="row">
            <div class="col-md-6 col-12 d-flex justify-content-center align-content-center">
                  <div id="homeCarousel" class="carousel w-75" data-bs-ride="true" data-bs-interval="2000">
                        <div class="carousel-inner">
                              <div class="carousel-item active">
                                    <img src="src\assets\img\blossomviolin.webp" class="img-fluid d-block" alt="">
                              </div>
                              <div class="carousel-item">
                                    <img src="src\assets\img\pajamaparty.webp" class="img-fluid d-block" alt="">
                              </div>
                              <div class="carousel-item">
                                    <img src="src\assets\img\springblossom.webp" class="img-fluid d-block" alt="">
                              </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel"
                              data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel"
                              data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                        </button>
                  </div>
            </div>
            <div class="col-12 col-md-6 text-center align-content-center p-2">
                  <h1 class="display-4 p-1 text-lima-400">ALL EYES ON THE <i>PIECE</i></h1>
                  <h5 class="text-lima-300 p-2">A Freelance Artist based in Nueva Vizcaya, Philippines</h5>
                  <a href="/works" class="a-btn"><button class="btn b-primary mt-3"><span class="b-text">MORE
                                    INFO</span></button></a>
            </div>
      </div>
</header>

<section class="container-fluid bg-shark-900 p-4">
      <div class="row p-3 d-flex">
            <div class="col align-content-center">
                  <h2 class="text-shark-300">RECENT WORKS</h2>
            </div>
            <div class="col">
                  <a href="/works" class="a-btn"><button class="btn b-secondary float-end d-flex"><span
                                    class="b-text align-content-center">SEE
                                    MORE</span>
                              </button></a>
            </div>
      </div>
      <div class="row">
            <div class="col d-inline-flex">
                  <figure class="c-card">
                        <img src="src\assets\img\ximage.jpg" alt="" class="i-card img-fluid c-card-img">
                  </figure>
                  <figure class="c-card">
                        <img src="src\assets\img\ximage.jpg" alt="" class="i-card img-fluid c-card-img">
                  </figure>
                  <figure class="c-card">
                        <img src="src\assets\img\ximage.jpg" alt="" class="img-fluid c-card-img">
                  </figure>
            </div>
      </div>
</section>

<section class="container-fluid p-4">
      <div class="row">
            <div class="col">
                  <h2 class="text-lima-400">WANNA COMMISSION?</h2>
                  <h4 class="text-lima-300">Let me do your ideas.</h4>
                  <p class="text-lima-200">You can contact me for commission, and inquiries.</p>
                  <a href="/commission" class="a-btn"><button class="btn b-primary mt-5"><span
                                    class="b-text">CONTACT</span></button></a>
            </div>
      </div>
</section>