<div class="container-fluid">
      <div class="row">
            <div class="col">
                  <h1>ARTWORKS 2024</h1>
                  <span class="row">
                        <div class="col">
                              <div class="card">
                                    <img src="src\assets\img\ximage.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                          <h5 class="card-title">Card title</h5>
                                    </div>
                              </div>
                        </div>
                  </span>
            </div>
      </div>
      <div class="row">
            <div class="col">
                  <h1>ARTWORKS 2023</h1>
                  <span class="row">
                        <div class="col">
                              <div class="card">
                                    <img src="src\assets\img\ximage.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                          <h5 class="card-title">Card title</h5>
                                    </div>
                              </div>
                        </div>
                  </span>
            </div>
      </div>
</div>