<header class="container-fluid p-5">
      <div class="row d-flex">
            <div class="col-sm-12 col-md-6 p-5">
                  <img src="img/2tri.webp" alt="" class="img-fluid d-block w-75">
            </div>
            <div class="col-sm-12 col-md-6 align-content-center">
                  <h3 class="text-end text-lima-500">MARK can do</h3>
                  <h1 class="text-end text-lima-400" id="text-slide">DIGITAL ART</h1>
                  <p style="text-align: justify;" class="text-lima-300 mt-4">
                        I am a freelance artist based on Nueva Vizcaya, Philippines. Has done digital art and traditional art since 2018. In which I started from doing fanarts of favorite anime characters to doing colorful concepts.
                  </p>
            </div>
      </div>
</header>