<section class="container-fluid p-3">
      <div class="row d-flex align-items-center">
            <div class="col-sm-12 col-md-6">
                  <div class="row">
                        <div class="col p-3">
                              <h1 aria-label="A title for contact details for commissions, and inquiries">Let's get in touch.</h1>
                              <p class="text-lima-300">For Commissions and Inquiries:</p>
                              <ul class="list-unstyled p-2 contact-links">
                                    <li class="m-2">
                                          <a href="mailto:artbymark.business@gmail.com" target="_blank" aria-label="E-mail address of the artist">
                                                <i class="fi fi-bs-envelope pe-2"></i>
                                                <span>Email (artbymark.business@gmail.com)</span>
                                          </a>
                                    </li>
                                    <li class="m-2">
                                          <a href="https://m.me/artbymark1210" aria-label="Facebook Messenger of the artist">
                                                <i class="fi fi-brands-facebook-messenger pe-2"></i>
                                                <span>Facebook Messenger</span>
                                          </a>
                                    </li>
                              </ul>
                              
                        </div>
                  </div>
                  <div class="row">
                        <div class="col p-3">
                              <h1 aria-label="A title for the artist's social medias">Be updated on new releases.</h1>
                              <p class="text-lima-300">Check out and follow my socials</p>
                              <div class="row">
                                    <div class="col">
                                          <ul class="list-unstyled p-2 contact-links">
                                                <li class="m-2">
                                                      <a href="https://www.instagram.com/artbymark.rar/" aria-label="Link to the artist's Instagram page" target="_blank">
                                                            <i class="fi fi-brands-instagram pe-2"></i>
                                                            <span>Instagram</span>
                                                      </a>
                                                </li>
                                                <li class="m-2">
                                                      <a href="https://facebook.com/artbymark1210" aria-label="Link to the artist's Facebook page" target="_blank">
                                                            <i class="fi fi-brands-facebook pe-2"></i>
                                                            <span>Facebook Page</span>
                                                      </a>
                                                </li>
                                          </ul>
                                    </div>
                              </div>
            
                        </div>
                  </div>
            </div>
            <div class="col-sm-12 col-md-6 p-5"><img src="img/3tri.webp" width="500" class="img-fluid d-block justify-content-center" alt="Digital Fan Art of Yechan (LUCY)"></div>
      </div>
</section>