@import "bootstrap/scss/bootstrap";
@import "../../node_modules/@flaticon/flaticon-uicons/css/brands/all.css";
@import "../../node_modules/@flaticon/flaticon-uicons/css/bold/straight.css";

//hide scrollbar
*::-webkit-scrollbar {
    display: none;
}
//hide scrollbar firefox, disable text select
//global configs
*{
    scrollbar-width: none;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

$lima: (
    50: #f5fbf2,
    100: #e8f8e0,
    200: #d1efc3,
    300: #abe095,
    400: #7cca5e,
    500: #5fb93c, //main
    600: #468f2a,
    700: #397124,
    800: #305a21,
    900: #284a1d,
    950: #12280b,
);

$shark:(
    50: #f4f6f7,
    100: #e2e8eb,
    200: #c8d5d9,
    300: #a1b6bf,
    400: #73909d,
    500: #587582,
    600: #4c626e,
    700: #42525c,
    800: #3b464f,
    900: #353d44,
    950: #22292f, //main
    1000: #0d1114,
);


@each $name, $color in $lima {
    .bg-lima-#{$name} {
        background-color: $color;
    }
    .text-lima-#{$name} {
        color: $color;
    }
}

@each $name, $color in $shark {
    .bg-shark-#{$name} {
        background-color: $color;
    }
    .text-shark-#{$name} {
        color: $color;
    }
}

@font-face {
    font-family: Familjen;
    src: url(../fonts/FamiljenGrotesk-Regular.ttf);
}

@font-face {
    font-family: Familjen Bold;
    src: url(../fonts/FamiljenGrotesk-Bold.ttf);
}

@font-face {
    font-family: Familjen Semi Bold;
    src: url(../fonts/FamiljenGrotesk-SemiBold.ttf)
};

a{
    text-decoration: none;
}

h1, h2, h3{
    font-family: "Familjen Bold";
}

p, a, span, li{
    font-family: Familjen;
}

h4, h5, h6{
    font-family: 'Familjen Semi Bold';
}

body{
    background-color: map-get($shark, 950);
    color: map-get($lima, 400);
    font-family: Familjen;
}

div#navlinks{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

div#navlinks a{
    color: map-get($shark, 200);
    text-decoration: none;
    margin-left: 30px;
}

div#navlinks a:hover{
    color: map-get($lima, 300);
}

div#navlinks a.active{
    color: map-get($lima, 300);
    border-bottom: 3px solid map-get($lima, 300);
}

#navbar{
    background-color: map-get($shark, 800);
    color: map-get($shark, 300);
    padding: 1.3rem;
    display: flex;
    align-items: center;
    width: 100%;
}

@mixin aspect-ratio() {
    position: relative;
    width: 100%;
    padding-top: calc(100% / var(--aspect-ratio)); /* aspect ratio from CSS variable */
    overflow: hidden;
  
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .aspect-ratio-box {
    @include aspect-ratio();
  }

button.b-primary.btn, button.btn{
    background-color: map-get($lima, 400);
    color: map-get($shark, 950);
    border: none;
    border-radius: 0px;
    padding: 0.85rem 1.5rem;
    transform: skew(-7deg);
    cursor: pointer;
}

button.b-primary.btn:hover, button.btn:hover{
    background-color: map-get($lima, 600);
    color: map-get($lima, 50);
}

button.b-primary.btn:active, button.btn:active{
    background-color: map-get($lima, 700);
    color: map-get($lima, 50);
}

button span.b-text, button i.fi{
    display: block;
    font-family: "Familjen Semi Bold";
    transform: skew(7deg);
}

button.b-secondary.btn{
    background-color: map-get($shark, 300);
    color: map-get($shark, 950);
}

button.b-secondary.btn:hover{
    background-color: map-get($shark, 400);
    color: map-get($shark, 50);
}

button.b-secondary.btn:active{
    background-color: map-get($shark, 500);
    color: map-get($shark, 50);
}

figure.c-card img.c-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
}

footer{
    background-color: map-get($shark, 1000);
    color: map-get($lima, 400);
    padding: 10px;
    margin: 0;
}

footer a{
    color: map-get($lima, 400);
    text-decoration: none;
}

footer a:hover{
    color: map-get($lima, 300);
}

.contact-links li a{
    color: map-get($lima, 200);

    :hover{
        color: map-get($lima, 100);
    }
}